*.iml
.idea
target

#pom.xml
#src/main/webapp/WEB-INF/web.xml
#src/main/webapp/index.jsp

#src/main/java/com/isa/usersengine/domain/User.java

#src/main/java/com/isa/usersengine/storage/UserDb.java
#src/main/java/com/isa/usersengine/repository/UserRepository.java
#src/main/java/com/isa/usersengine/repository/UserRepositoryBean.java

#src/main/java/com/isa/usersengine/Main.java

src/main/webapp/WEB-INF/jboss-web.xml